section#landing {
  background: #1F252C;
}

section#projects {
  background: #8177F0;
}

section#skills {
  background: #422E56;
}

section#interests {
  background: #FFFFFF;
}

section#music {
  background: #BE70FB;
}

body, h1, h2, p {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", san-serif;
  letter-spacing: 4px;
  font-weight: 300;
}

section {
  min-height: 100vh;
  position: relative;
}
section .big.next-coa {
  width: 131px;
  height: 62px;
}
section .next-coa {
  width: 80.820435112px;
  height: 38.2508929538px;
  position: absolute;
  bottom: 0;
  display: flex;
  place-items: center;
  justify-content: center;
}
section .next-coa .next-coa-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
section .next-coa .next-coa-up {
  width: 24px;
  height: 14px;
  z-index: 1;
  transform: translateY(30%);
}

#landing {
  color: white;
  display: grid;
  place-items: center;
}
#landing #top {
  background: #C4C4C4;
  position: absolute;
  width: 100%;
  height: 12vh;
  top: 0;
}
#landing #main {
  display: flex;
  flex-direction: column;
}
#landing #main > div {
  margin: auto;
  display: flex;
  flex-direction: column;
  place-items: center center;
  gap: 16px;
  transform: translateY(30%);
}
#landing #main > div h1 {
  font-size: 1.8em;
}
#landing #main > div span {
  font-size: 0.675em;
  font-size: 0.675em;
  background: #808080;
  padding: 6px 4px 6px 8px;
  border-radius: 6px;
  transform: scale(0.8);
  margin: -10px 0;
}
#landing #main > div h2 {
  font-size: 1.35em;
}
#landing #main > div p {
  font-size: 0.7875em;
}
#landing .next-coa-svg {
  fill: #8177F0;
}

#music, #interests, #skills, #projects {
  display: grid;
  place-items: center;
  grid-template-rows: max-content max-content;
}
#music #circle, #interests #circle, #skills #circle, #projects #circle {
  width: 16px;
  height: 16px;
  background: currentColor;
  border-radius: 8px;
  margin: 4px;
}
#music #header, #interests #header, #skills #header, #projects #header {
  color: currentColor;
  display: grid;
  padding: 16px 6.9333333333vw;
  grid-template-columns: 1fr max-content 1fr;
  width: 100%;
  box-sizing: border-box;
  margin-top: 67px;
  align-items: center;
}
#music #header .line, #interests #header .line, #skills #header .line, #projects #header .line {
  height: 1px;
  background: currentColor;
}
#music #header h1, #interests #header h1, #skills #header h1, #projects #header h1 {
  font-size: 1.06875em;
  margin: 0px 12px 0px 16px;
}

#projects {
  color: white;
}
#projects .next-coa-svg {
  fill: #422E56;
}

#music, #interests, #skills, #projects {
  display: grid;
  place-items: center;
  grid-template-rows: max-content max-content;
}
#music #circle, #interests #circle, #skills #circle, #projects #circle {
  width: 16px;
  height: 16px;
  background: currentColor;
  border-radius: 8px;
  margin: 4px;
}
#music #header, #interests #header, #skills #header, #projects #header {
  color: currentColor;
  display: grid;
  padding: 16px 6.9333333333vw;
  grid-template-columns: 1fr max-content 1fr;
  width: 100%;
  box-sizing: border-box;
  margin-top: 67px;
  align-items: center;
}
#music #header .line, #interests #header .line, #skills #header .line, #projects #header .line {
  height: 1px;
  background: currentColor;
}
#music #header h1, #interests #header h1, #skills #header h1, #projects #header h1 {
  font-size: 1.06875em;
  margin: 0px 12px 0px 16px;
}

#skills {
  color: white;
}
#skills .next-coa-svg {
  fill: #FFFFFF;
}

#music, #interests, #projects, #skills {
  display: grid;
  place-items: center;
  grid-template-rows: max-content max-content;
}
#music #circle, #interests #circle, #projects #circle, #skills #circle {
  width: 16px;
  height: 16px;
  background: currentColor;
  border-radius: 8px;
  margin: 4px;
}
#music #header, #interests #header, #projects #header, #skills #header {
  color: currentColor;
  display: grid;
  padding: 16px 6.9333333333vw;
  grid-template-columns: 1fr max-content 1fr;
  width: 100%;
  box-sizing: border-box;
  margin-top: 67px;
  align-items: center;
}
#music #header .line, #interests #header .line, #projects #header .line, #skills #header .line {
  height: 1px;
  background: currentColor;
}
#music #header h1, #interests #header h1, #projects #header h1, #skills #header h1 {
  font-size: 1.06875em;
  margin: 0px 12px 0px 16px;
}

#interests {
  color: black;
}
#interests #main {
  display: grid;
  place-items: center;
  position: absolute;
}
#interests #main #interest-container {
  display: grid;
  gap: 48px;
}
#interests #eye-svg {
  position: absolute;
  bottom: max(48px, 15vh);
}
#interests .next-coa-svg {
  fill: #BE70FB;
}

#music, #projects, #skills, #interests {
  display: grid;
  place-items: center;
  grid-template-rows: max-content max-content;
}
#music #circle, #projects #circle, #skills #circle, #interests #circle {
  width: 16px;
  height: 16px;
  background: currentColor;
  border-radius: 8px;
  margin: 4px;
}
#music #header, #projects #header, #skills #header, #interests #header {
  color: currentColor;
  display: grid;
  padding: 16px 6.9333333333vw;
  grid-template-columns: 1fr max-content 1fr;
  width: 100%;
  box-sizing: border-box;
  margin-top: 67px;
  align-items: center;
}
#music #header .line, #projects #header .line, #skills #header .line, #interests #header .line {
  height: 1px;
  background: currentColor;
}
#music #header h1, #projects #header h1, #skills #header h1, #interests #header h1 {
  font-size: 1.06875em;
  margin: 0px 12px 0px 16px;
}

#music {
  color: rgba(0, 0, 0, 0.8);
}

/*# sourceMappingURL=main.css.map */
