$theme-bg: (
  "landing": #1F252C,
  "projects": #8177F0,
  "skills": #422E56,
  "interests": #FFFFFF,
  "music": #BE70FB
);

@each $section-name, $bg-color in $theme-bg {
  section##{$section-name} {
    background: $bg-color;
  }
}

body {
  padding: 0px;
  margin: 0px;
}

section {
  height: 100vh;
}