#landing {
  color: white;
  display: grid;
  place-items: center;

  #top {
    background: #C4C4C4;
    position: absolute;
    width: 100%;
    height: 12vh;
    top: 0;
  }

  #main {
    display: flex;
    flex-direction: column;
    > div {
      margin: auto;

      display: flex;
      flex-direction: column;
      place-items: center center;
      gap: 16px;
      transform: translateY(30%);

      $text-size: 1.8em;
      h1 {
        font-size: $text-size;
      }
      span {
        font-size: $text-size * (12/32);
        font-size: 0.675em;
        background: #808080;
        padding: 6px 4px 6px 8px;
        border-radius: 6px;
        transform: scale(0.8);
        margin: -10px 0;
      }
      h2 {
        font-size: $text-size * (24/32);
      }
      p {
        font-size: $text-size * (14/32);
      }
    }
  }

  .next-coa-svg {
    fill: map-get($theme-bg, "projects");
  }
}