%headed-section {
  display: grid;
  place-items: center;
  grid-template-rows: max-content max-content;

  #circle {
    width: 16px;
    height: 16px;
    background: currentColor;
    border-radius: 8px;
    margin: 4px;
  }

  #header {
    color: currentColor;
    display: grid;
    padding: 16px (100vw * math.div(26, 375));
    grid-template-columns: 1fr max-content 1fr;
    width: 100%;
    box-sizing: border-box;
    margin-top: 67px;
    align-items: center;

    .line {
      height: 1px;
      background: currentColor;
    }

    h1 {
      font-size: $text-size-base * math.div(19, 32);
      margin: 0px 12px 0px 16px;
    }
  }
}